.wrapper {
    //  padding: 0.5rem 3.5rem;   
    color: var(--black);
    background: linear-gradient(
      106.37deg,
      #ffe1bc 29.63%,
      #ffcfd1 51.55%,
      #f3c6f1 90.85%
    );
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.inner {
    display: grid;
    height: 95%;
    width: 95%;
    background: rgba(255, 255, 255, 0.54);
    border-radius: 2rem;
    gap: 16px;
    grid-template-columns: 18% auto;
    overflow: hidden;
}