.add {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;

    height: 400px;

  
  form{
      background-color: transparent;
      padding: 0px 60px;
      border-radius: 10px;

  }
  
  h2{
      text-align: center;
  }
  
  button{
      width: 100%;
      height: 30px;
      padding: 10px;
      border: none;
      background-color: rebeccapurple;
      color: white;
      border-radius: 5px;
      font-weight: bold;
      font-size: 14px;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 30px;
  }

}